body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}

main {
    display: flex;
    flex-direction: column;

    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;

}

.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

/* top player style */
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    height: 56px;
    width: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 27px;
}


/*------------- top blogs styles ---------------*/
.course {
    /* display: grid; */
    /* grid-template-columns: repeat(3, 1fr); */

}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 26px;
}

.blog {
    display: flex;

}

.blog .thumbnail img {
    Width: 177px;
    Height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF
}


/*----------------------------------- latest courses------------------ */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course-banner img {
    width: 224px;
    height: 104px;

}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: gold;
}

.fa-star.empty {
    color: #AEAEAE;
}

.course-duration {
    background-color: #e6d2d4;
    color: #FF4A60;
    border-radius: 5px;
}

/* --------------------------media querys------------------- */

/*--------------------- Mobile Devices--------------- */
@media only screen and (max-width:688px) {
    .container {
        width: 100%;
    }

    .players,
    .blogs,
    .courses {

        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blogs {
        flex-direction: column;
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        width: 100%;
    }

    .players,
    .courses {

        grid-template-columns: repeat(1, 1fr);
    }


    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }


}